<div class="page-header">
  <h1> Products </h1>
</div>
<% if @products.present? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td>
            <%= link_to "show", product_path(product), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => 'btn btn-default btn-xs' }%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render "form" %>
